<div class='title'>
  <h1 class='www'>FoodTop</h1>
  <div>aaaaaaaa</div>
</div>
<div class='post'>
  <div class='left-sidebar'>
    <div>わわわあわ</div>
  </div>
  <div class='main'>
    <div>わわわあわ</div>
  </div>
  <div class='light-sidebar'>
    <div>わわわあわ</div>
  </div>
</div>