<div class='title'>
  <h1 class='www'>FoodTop</h1>
  <div class='link'>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
  </div>
</div>
<div class='post'>
  <div class='left-sidebar'>
    <div>わわわあわ</div>
  </div>
  <div class='main'>
    <div>わわわあわ</div>
  </div>
  <div class='light-sidebar'>
    <div>わわわあわ</div>
  </div>
</div>
<div class='show'>
  <div class='linka'>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
  </div>
</div>
<<<<<<< Updated upstream
<div class='show'>
  <div class='linka'>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
  </div>
</div>
<div class='show'>
  <div class='linka'>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
    <div>aaaaaaaa</div>
  </div>
</div>
=======
>>>>>>> Stashed changes
