.title {
  background-color: blue;
}

.www {
  text-align: center;
  font-size: 50px;
}

.link {
  display: flex;
  justify-content: space-around;
}

.main {
  background-color: red;
  height: 100%;
  width: 100%;
  margin: 0 10px;
}

.left-sidebar {
  background-color: aqua;
  height: 400px;
  width: 20vw;
}

.sade-bar-link {
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.side_bar_name {
  background-color: gold;
}

.light-sidebar {
  background-color: seagreen;
  height: 500px;
  width: 20vw;
}

.post {
  display: flex;
  background-color: slateblue;
  margin: 30px;
  padding: 30px;
  height: 100vh;
}

.linka {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  height: 100px;
  width: 90%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: brown;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: brown;
}