.title {
  background-color: blue;
  height: 200px;
}

.main {
  background-color: red;
  height: 50px;
  width: 100%;
}

.sidebar {
  background-color: seagreen;
  height: 50px;
  width: 100%;
}

.post {
  display: flex;
  background-color: slateblue;
  margin: 30px;
  padding: 30px;
  height: 100vh;
}